button{
background-color: purple;
color: cyan;
}


a:link{
background-color: transparent;
}

a:visited{
background-color: transparent;
}

a:hover{
background-color: transparent;
}

a:active{
background-color: transparent;
}


body{
font-family: monospace;
color: blue;
background-color: lightgrey;
}

h1,h2,p
{
text-align: center;

}

figure
{
text-align: center;
}

figcation
{
font-style: italic;
color: red;
}

nav
{
text-align: center;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: green;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}



.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: lightblue;
}

footer{
text-align: center;
}

.image{
float: left;
width: 100px;
height: 100px;
}

.calculator{
display: grid;
}

.calculator_keys{
display: grid;
}


