.image{
width: 350px;
height: 350px;
}

a:link{
background-color: transparent;
}

a:visited{
background-color: transparent;
}

a:hover{
background-color: transparent;
}

a:active{
background-color: transparent;
}


body{
font-family: monospace;
color: blue;
background-color: lightgrey;
}

h1,h2,h3,h4
{
text-align: center;
}

p{
text-align: center;
font-size: 20px;
}

figure
{
text-align: center;
}

figcaption
{
font-style: italic;
color: red;
}

nav
{
text-align: center;
}

footer{
text-align: center;
}



li {
font-size: 20px;
}
