


/*
https://coolors.co/dbd56e-88ab75-2d93ad-7d7c84-de8f6e
*/



.image{
float: left;
width: 100px;
height: 100px;
}

body{
background-color: #7D7C84;
}

ul{
list-style-type: square;
}

h1,h2,h3{
font-family: arial;
text-align: center;
color: #DBD56E;
}

p{
font-family: arial;
text-align: center;
}

footer, header{
color: #DE8F6E;
text-align: center;
}
